.navigation {
  position: absolute;
  width: 100%;
  z-index: 99;
  border-top: 1px solid $gray-lighter;
  @media (min-width: $screen-md-min) {
    position: relative;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    box-shadow: inset 0px 1px 0px #fff, inset 0px -1px 0px #fff;
    background: #dddddd;
    background: linear-gradient(to right, #dddddd 0%,#e8e8e8 40%,#e8e8e8 60%,#dddddd 100%);
  }
}