.people__description {
  @include font-size(18px,  $font-size-base);
  font-weight: 300;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:last-child{
    white-space: normal;
    line-height: 1.4;
    padding-top: 4px;
  }
}