.navigation__nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;

  @media (min-width: $screen-md-min) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    float: left;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}