$brick-image-font-size: 16px !default;
$brick-image-color: #ffffff !default;
$brick-image-background-color: $gray-lighter !default;
$brick-image-description-padding: 6% !default;
$brick-image-container-padding: 100px !default;
$brick-image-icon-height: 50px !default;

$brick-image-padding-vertical-base: 70px !default;
$brick-image__header-font-size-large: 60px !default;