$screen-min: 320px !default;
html{
  position: relative;
  height: 100%;
  width: 100%;
  min-height: 100%;
}
body{
  position: relative;
  min-height: 100%;
  max-width: 100%;
  min-width: $screen-min;
  display: flex;
  flex-direction: column;
  height: 100vh;
}