.quote__text {
  @import "../variables.scss";

  font-size: $quote-font-size-base;
  position: relative;
  font-style: italic;
  line-height: $quote-line-height-base;
  margin-bottom: $s;
  &:before{
    font-family: 'icomoon' !important;
    opacity: 0.4;
    font-style: normal;
    display: block;
    position: absolute;
    right: 100%;
    top: 0;
    margin-right: $grid-gutter-width;
    font-size: $quote-line-height-base*2+em;
    min-width: 1em;
    height: 1em;
    line-height: 1;
    text-align: center;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    @media (max-width: $screen-xs-max) {display: none}
  }
  &:last-child{ margin-bottom: 0 }
}