.quote_variant {
  @import "../variables.scss";
  &_divide{
    padding-left: 0;
    padding-top: 1em;
    padding-bottom: 0;

    &:before{
      height: 5px;
      width: 100px;
    }
    .quote__text:last-child{
      min-height: $quote-line-height-base*2+em;
      &:before{content: "\e900"}
    }
  }
}