.work-list__img {
  display: inline-block;
  position: relative;
  &:before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 500px;
    border: 10px solid rgba(255, 255, 255, 0.5);
    transition: border 0.5s ease;
  }
  &:hover{
    &:before{
      border-width: 0px;
    }
  }
  .img,
  .img-responsive{
    border-radius: 50%;
    margin: 0 auto;
  }
}