.header__phone {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(3);

  @media (min-width: $screen-lg-min) {
    float: left;
    width: percentage((22 / 100));
  }
}