.quote {
  padding: 0;
  margin: 0;
  font-size: $font-size-base;
  position: relative;
  padding-left: $grid-gutter-width;
  padding-top: $m;
  padding-bottom: $m;
  border: none;
  &:before{
    content: '';
    width: 5px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: $brand-danger;
    border-radius: 10px;
  }
}