@import "variables.scss";
@import "style.scss";
//@font-face {
//  font-family: 'icomoon';
//  src:  url('fonts/icomoon.eot?7cb8q5');
//  src:  url('fonts/icomoon.eot?7cb8q5#iefix') format('embedded-opentype'),
//  url('fonts/icomoon.ttf?7cb8q5') format('truetype'),
//  url('fonts/icomoon.woff?7cb8q5') format('woff'),
//  url('fonts/icomoon.svg?7cb8q5#icomoon') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//
//[class^="icon-"], [class*=" icon-"] {
//  /* use !important to prevent issues with browser extensions that change fonts */
//  font-family: 'icomoon' !important;
//  speak: none;
//  font-style: normal;
//  font-weight: normal;
//  font-variant: normal;
//  text-transform: none;
//  line-height: 1;
//
//  /* Better Font Rendering =========== */
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}

//.icon-architect:before {
//  content: "\e90b";
//}
//.icon-bank:before {
//  content: "\e90c";
//}
//.icon-calendar:before {
//  content: "\e90d";
//}
//.icon-captain:before {
//  content: "\e90e";
//}
//.icon-client:before {
//  content: "\e90f";
//}
//.icon-designer:before {
//  content: "\e910";
//}
//.icon-developer:before {
//  content: "\e911";
//}
//.icon-master:before {
//  content: "\e912";
//}
//.icon-programmer:before {
//  content: "\e913";
//}
//.icon-task:before {
//  content: "\e914";
//}
//.icon-team:before {
//  content: "\e915";
//}
//.icon-time15:before {
//  content: "\e916";
//}
//.icon-radio:before {
//  content: "\e90a";
//}
//.icon-check:before {
//  content: "\e909";
//}
//.icon-case:before {
//  content: "\e907";
//}
//.icon-review-dot:before {
//  content: "\e905";
//}
//.icon-docs:before {
//  content: "\e908";
//}
//.icon-review-o:before {
//  content: "\e903";
//}
//.icon-video:before {
//  content: "\e904";
//}
//.icon-review:before {
//  content: "\e906";
//}
//.icon-quote:before {
//  content: "\e900";
//}
//.icon-mouthpiece:before {
//  content: "\e902";
//}
//.icon-mail:before {
//  content: "\e901";
//}


