@import "variables";

@font-face {
  font-family: 'icomoon';
  src:  url('#{$icomoon-font-path}/icomoon.eot?og2r0c');
  src:  url('#{$icomoon-font-path}/icomoon.eot?og2r0c#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icomoon.ttf?og2r0c') format('truetype'),
    url('#{$icomoon-font-path}/icomoon.woff?og2r0c') format('woff'),
    url('#{$icomoon-font-path}/icomoon.svg?og2r0c#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-think {
  &:before {
    content: $icon-think;
  }
}
.icon-way {
  &:before {
    content: $icon-way;
  }
}
.icon-target {
  &:before {
    content: $icon-target;
  }
}
.icon-clerc {
  &:before {
    content: $icon-clerc;
  }
}
.icon-frends {
  &:before {
    content: $icon-frends;
  }
}
.icon-office {
  &:before {
    content: $icon-office;
  }
}
.icon-calendar2 {
  &:before {
    content: $icon-calendar2;
  }
}
.icon-employees {
  &:before {
    content: $icon-employees;
  }
}
.icon-growth {
  &:before {
    content: $icon-growth;
  }
}
.icon-vb {
  &:before {
    content: $icon-vb;
  }
}
.icon-quote {
  &:before {
    content: $icon-quote;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-mouthpiece {
  &:before {
    content: $icon-mouthpiece;
  }
}
.icon-review-o {
  &:before {
    content: $icon-review-o;
  }
}
.icon-video {
  &:before {
    content: $icon-video;
  }
}
.icon-review-dot {
  &:before {
    content: $icon-review-dot;
  }
}
.icon-review {
  &:before {
    content: $icon-review;
  }
}
.icon-case {
  &:before {
    content: $icon-case;
  }
}
.icon-docs {
  &:before {
    content: $icon-docs;
  }
}
.icon-check {
  &:before {
    content: $icon-check;
  }
}
.icon-radio {
  &:before {
    content: $icon-radio;
  }
}
.icon-architect {
  &:before {
    content: $icon-architect;
  }
}
.icon-bank {
  &:before {
    content: $icon-bank;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-captain {
  &:before {
    content: $icon-captain;
  }
}
.icon-client {
  &:before {
    content: $icon-client;
  }
}
.icon-designer {
  &:before {
    content: $icon-designer;
  }
}
.icon-developer {
  &:before {
    content: $icon-developer;
  }
}
.icon-master {
  &:before {
    content: $icon-master;
  }
}
.icon-programmer {
  &:before {
    content: $icon-programmer;
  }
}
.icon-task {
  &:before {
    content: $icon-task;
  }
}
.icon-team {
  &:before {
    content: $icon-team;
  }
}
.icon-time15 {
  &:before {
    content: $icon-time15;
  }
}

