$icomoon-font-path: "fonts" !default;

$icon-think: "\e91d";
$icon-way: "\e91e";
$icon-target: "\e91f";
$icon-clerc: "\e920";
$icon-frends: "\e917";
$icon-office: "\e918";
$icon-calendar2: "\e919";
$icon-employees: "\e91a";
$icon-growth: "\e91b";
$icon-vb: "\e91c";
$icon-quote: "\e900";
$icon-mail: "\e901";
$icon-mouthpiece: "\e902";
$icon-review-o: "\e903";
$icon-video: "\e904";
$icon-review-dot: "\e905";
$icon-review: "\e906";
$icon-case: "\e907";
$icon-docs: "\e908";
$icon-check: "\e909";
$icon-radio: "\e90a";
$icon-architect: "\e90b";
$icon-bank: "\e90c";
$icon-calendar: "\e90d";
$icon-captain: "\e90e";
$icon-client: "\e90f";
$icon-designer: "\e910";
$icon-developer: "\e911";
$icon-master: "\e912";
$icon-programmer: "\e913";
$icon-task: "\e914";
$icon-team: "\e915";
$icon-time15: "\e916";

