.influence__wrapper {
  padding: 10px 0;
  flex: 0 1 auto;
  @media (min-width: $screen-md-min) {
    max-width: 50%;
  }
  &:first-child{
    &:last-child{
      width: 100%;
    }
  }
  *{margin-top: 0.1em}
}