.navigation-toggle {
  position: relative;
  float: left;
  padding-right: 10px;
  padding-left: 0px;
  margin-right: 20px;
  background-color: transparent;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: none;
  border-radius: 0;

  // We remove the `outline` here, but later compensate by attaching `:hover`
  // styles to `:focus`.
  &:focus {
    outline: 0;
  }

  &:hover,
  &:focus {
    background: none;
  }


  @media (min-width: $screen-md-min) {
    display: none;
  }
}