.phone-list{
  @include make-row();
  border-top: 1px solid $gray-lighter;
  padding-top: 10px;
  padding-bottom: 10px;
  @media (min-width: $screen-sm-min) {
    border-top: none;
    padding-top: 0;
    padding-bottom: 0;
  }

}