.header__bottom{
  @include make-md-column(5);
  display: none;
  @media (min-width: $screen-md-min) {
    display: block;
  }

  @media (min-width: $screen-lg-min) {
    float: left;
    width: percentage((48 / 100));
  }
}