.search__button{
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  background: none;
  color: $gray-base;
  padding: 5px 13px;
  height: 30px;
  &:focus{
    outline: none;
  }
}