.footer__social {
  position: relative;
  min-height: 1px;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  margin-top: $l;
  width: 100%;
  @media (min-width: $screen-md-min) {
    max-width: 300px;
    margin-top: 0;
    text-align: center;
  }
}