.directions-sections__img {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  >svg{
    width: 100%;
    height: 120px;
    display: block;
    .directions-sections__item:hover & [style *='stroke:#4a4a4a']{
      transition: 0.35s ease;
      stroke:#e5001a !important;
    }
  }

}