.navigation__link {
  color: $gray-base;
  text-decoration: none;
  display: block;
  white-space: nowrap;
  padding: 5px $grid-gutter-width/2;
  @media (min-width: $screen-md-min) {
    text-align: center;
    padding: 11px 0px;
  }

  &:focus,
  &:hover{
    color: $gray-base;
    text-decoration: none;
    background-color: #f3f3f3;
    @media (min-width: $screen-md-min) {
      background: none;
      color: $link-color;
    }
  }
}