&_gray-base{
  background-color: $gray-base;
}
&_gray-darker{
  background-color: $gray-darker;
}
&_gray-dark{
  background-color: $gray-dark;
}
&_gray{
  background-color: $gray;
}
&_gray-light{
  background-color: $gray-light;
}
&_gray-lighter{
  background-color: $gray-lighter;
}
&_green-base{
  background-color: $brand-success;
}
&_green-dark{
  background-color: $green-dark;
}
&_green-light{
  background-color: $green-light;
}
&_green-lighter{
  background-color: $green-lighter;
}
&_blue-base{
  background-color: $brand-primary;
}
&_blue-dark{
  background-color: $blue-dark;
}
&_red-base{
  background-color: $red-light;
}
&_red-dark{
  background-color: $brand-danger;
}
&_orange-base{
  background-color: $brand-warning;
}
&_orange-dark{
  background-color: $red-dark;
}
&_yellow-base{
  background-color: $yellow-base;
}
&_yellow-dark{
  background-color: $yellow-dark;
}
&_purple-base{
  background-color: $purple-base;
}
&_purple-dark{
  background-color: $purple-dark;
}