.brick-content {
  @import "variables.scss";
  background-size: cover;
  background-position: 50%;
  padding-top: $brick-content-padding-vertical-base;
  padding-bottom: $brick-content-padding-vertical-base;
}