.review-list__flex {
  color: inherit;
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  text-align: center;
  @media (min-width: $screen-xs-min) {
    flex-wrap: nowrap;
    text-align: left;
  }
}