.navigation__sidebar {
  display: none;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block;
    float: right;
    max-width: 50%;
    padding-right: $grid-gutter-width/2;
    padding-left: $grid-gutter-width/2;
    margin-top: 40px;
  }
}