.brick-image__header {
  @import "../variables.scss";

  @include font-size($brick-image__header-font-size-large, $font-size-large);
  color: $brick-image-color;
  position: relative;
  margin: 0;
  font-weight: 700;
  line-height: 1.07;
  margin-top: $brick-image-padding-vertical-base;
  &:last-child{
    margin-bottom: $brick-image-padding-vertical-base;
  }
}