.footer {
  font-size: $font-size-small;
  flex-shrink: 0;
  background-color: $gray-lighter;
  border-top: 1px solid #ffffff;
  box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.5);
  color: $gray-base;
  padding: 30px 0px 30px;
  line-height: $line-height-base;
}