@keyframes pulse {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}
.brick-image__icon {
  @import "../variables.scss";

  position: relative;
  background: url("upload/icon.png#sprite-icon");
  border-radius: $brick-image-icon-height*2;
  width: 27px;
  height: $brick-image-icon-height;
  display: block;
  padding-top: $brick-image-icon-height/2;
  margin: 0 auto;
  &, i{
    background-repeat: no-repeat !important;
  }
  i{
    animation: pulse 1.2s infinite;
    opacity: 0;
    display: block;
    height: 6px;
    background: url("upload/caret.png#sprite-icon");
    width: 7px;
    margin: 0px auto;
    &+i{
      animation-delay: 0.4s;
      &+i{
        animation-delay: 0.8s;
      }
    }
  }

  .brick-image__header + &{
    margin-top: $brick-image-padding-vertical-base;
  }
}