// Настройте переменные в файле bem/globals/variables.scss  пржде чем вносить изменения;
// Вы можете переопределить существующие переменные для данного блока;

// Заголовок зависит от размера line-height заданой в пикселях;
// Переменная $headings-factor равна отношению (Высота линии)/(Отступ снизу);
// Переменная $headings-vertical-space-ratio равна отношению (Отступ снизу)/(Отступ сверху);

$headings-factor: 1 !default;
$headings-vertical-space-ratio: 2 !default;
$headings-font-size-small: $font-size-h4 !default;

$headings-vertical-space-base: $font-size-h1 * $headings-line-height * $headings-factor!default;
$headings-vertical-space-small: $headings-font-size-small * $headings-line-height * $headings-factor !default;

// Используйте этот миксин для не адаптируемых заголовков;
@mixin static-size($font-size){
  font-size:  $font-size;
  margin-top: $font-size* $headings-line-height*$headings-factor;
  margin-bottom: ($font-size* $headings-line-height*$headings-factor)/$headings-vertical-space-ratio;
}


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

  small,
  .small {
    font-weight: normal;
    line-height: 1;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4{
  // Не стандартное адаптивное использование mixin для размера шрифта;
  @include font-size($headings-vertical-space-base, $headings-vertical-space-small, margin-top);
  @include font-size($headings-vertical-space-base / $headings-vertical-space-ratio, $headings-vertical-space-small / $headings-vertical-space-ratio, margin-bottom);

  small,
  .small {
    font-size: 65%;
  }
}
h5, .h5,
h6, .h6 {
  small,
  .small {
    font-size: 75%;
  }
}

h1, .h1 { @include font-size($font-size-h1, 22px) }
h2, .h2 { @include font-size($font-size-h2, 22px) }
h3, .h3 { @include font-size($font-size-h3, $headings-font-size-small) }
h4, .h4 { @include font-size($font-size-h4, $headings-font-size-small) }
h5, .h5 {
  @include static-size($font-size-h5);
}
h6, .h6 {
  @include static-size($font-size-h6);
}