.navigation__item {
  font-size: 100%;
  padding: 0px 0px;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    float: left;
    width: 25%;
  }
  @media (min-width: $screen-md-min) {
    font-size: $font-size-small;
    display: inline-block;
  }

}