.work-list__item {
  text-align: center;
  padding: 0 $grid-gutter-width/2;
  width: 100%;
  @media (min-width: $screen-xs-min) {
    width: percentage((6 / 12));
  }
  @media (min-width: $screen-sm-min) {
    width: percentage((4 / 12));
  }
  @media (min-width: $screen-md-min) {
    width: percentage((3 / 12));
  }
  >a{
    display: block;
    padding: $grid-gutter-width 0;
    @media (min-width: $screen-sm-min) {
      padding: 15% 0;
    }
  }
}