.brick-image__description {
  @import "../variables.scss";

  position: relative;
  line-height: 1.5;
  width: 100%;
  margin-bottom: $brick-image-padding-vertical-base;
  &:before{
    position: relative;
    content: '';
    width: 30%;
    margin: $brick-image-description-padding auto;
    display: block;
    border-top-color: #ffffff;
    border-top: 1px solid rgba(255, 255, 255, 0.4);
  }

  &:first-child{
    &:before{ content: none }
    &:last-child{
      margin-top: $brick-image-padding-vertical-base;
    }
  }

}