.footer__right{
  position: relative;
  min-height: 1px;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;
  margin-top: $m;
  @media (min-width: $screen-sm-min) {
    width: auto;

  }
  @media (min-width: $screen-md-min) {
    width: percentage((4 / 12));
    order: 10;
    flex-shrink: 0;
    margin-top: 0;
  }
}