// colors

$gray-base:              #252525;
$gray-darker:            #474747;
$gray-dark:              #98a3a3;
$gray:                   #aab7b7;
$gray-light:             #bdc3c7;
$gray-lighter:           #eceeef;

$green-dark: #27ae60;
$green-light: #16a085;
$green-lighter: #47c9af;

$blue-dark: #5299c7;

$red-dark: #c1382a;
$red-light: #e74c3c;

$orange-dark: #d35400;

$yellow-base: #f1c40f;
$yellow-dark: #f39c12;

$purple-base: #af7ac4;
$purple-dark: #8e44ad;

$brand-primary:         #5cace2;
$brand-success:         #2ecc71;
$brand-info:            #5bc0de !default;
$brand-warning:         #eb974e;
$brand-danger:          #e5001a;

$screen-min: 320px;


  // blocks.04.1-typography
$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$font-size-base:          16px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$line-height-base:        1.875;

$text-color:              $gray-darker;
$text-color-invert:       $gray-lighter;

$link-color: $brand-danger;
$link-hover-color: $link-color;

// block: 'space'
$x: 3px !default;
$s: 5px !default;
$m: 10px !default;
$l: 20px !default;

$vertical-rhythm-base: 50px !default;

// block: 'h'
$font-size-h1:            48px;
$font-size-h2:            48px;
$font-size-h3:            30px;
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

$headings-font-family:    inherit !default;
$headings-font-weight:    700 !default;
$headings-line-height:    1.2 !default;
$headings-color:          inherit !default;


//block: btn
$btn-border-radius-base:         100px;
$btn-border-radius-large:        $btn-border-radius-base;
$btn-border-radius-small:        $btn-border-radius-base;


$input-border: $gray-light;
$input-bg: transparent;
$input-border-focus: $input-border;
$input-color-placeholder: inherit;
$input-color: inherit;


