.phone-list__item{
  @include make-sm-column(12);
  float: left;
  position: relative;
  min-width: 50%;
  text-align: center;
  white-space: nowrap;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 11px;
    text-align: right;
    padding-top: 0px;
    padding-bottom: 0px;

  }
  @media (min-width: $screen-md-min) {
    margin-bottom: 4px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}