.picture,
img{
  // БЕМ Запрещает использование элементов без класса: не делайте так в своем проекте))
  &:not([class]),
  &[height],
  &[width],
  &_as_img{
    $vertical-rhythm-base: 30px;
    &, img{
      display: block;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    display: block;
    margin-bottom: $vertical-rhythm-base;
    height: auto !important;
    &.pull-left,
    &[align='left']{
      &, img{
        float: left;
      }
      margin-right: $vertical-rhythm-base;
      max-width: 50%;
    }
    &.pull-right,
    &[align='right']{
      &, img{
        float: right;
      }
      margin-left: $vertical-rhythm-base;
      max-width: 50%;
    }
    &.pull-left,
    &[align='left'],
    &.pull-right,
    &[align='right']{
      @media (max-width: $screen-xs-min) {
        max-width: 100%;
        float: none;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}
