.social__link_bg {
  &_vk{
    background-color: #567a9f;
  }
  &_facebook{
    background-color: #3a5694;
  }
  &_twitter{
    background-color: #49bffa;
  }
  &_envelope{
    background-color: #fd7d20;
  }
  &_youtube{
    background-color: #ff2c36;
  }
  &_instagram{
    background-color: #4f7da1;
  }

}