.social-likes__icon {
  font-family: 'FontAwesome';
  &_vkontakte{
    &:before{
      content: "\f189";
    }
  }
  &_facebook{
    &:before{
      content: "\f09a";
    }
  }
  &_plusone{
    &:before{
      content: "\f0d5";
    }
  }
  &_twitter{
    &:before{
      content: "\f099";
    }
  }
}