.social-likes__widget {
  @include font-size(24px, $font-size-base);
  letter-spacing: normal;
  cursor: pointer;
  background-color: $gray-light;
  border-radius: 50px;
  white-space: nowrap;
  padding: 0px 12px;
  display: inline-block;
  @media (min-width: $screen-sm-min) {
    padding: 0px 21px;
  }

  &,
  &:hover,
  &:focus{
    color: #ffffff;
    text-decoration: none;
  }

  &_vkontakte{
    background-color: #48729e;
  }
  &_facebook{
    background-color: #3c5a98;
  }
  &_plusone{
    background-color: #e5001a;
  }
  &_twitter{
    background-color: #00aced;
  }
}