.brick-content_color {
  &_base{
    color: $text-color;
  }
  &_invert{
    color: $text-color-invert;
    *:not(.btn){
      color: inherit;
    }
    a, .a{ &, &:hover, &:focus, &:active{
      color: inherit;
    }}
    &.brick-content_bg_gray-base,
    &.brick-content_bg_gray-dark,
    &.brick-content_bg_gray-darker{
      .fa, .icon{ color: $link-color }
    }
    &.brick-content_bg_gray-base{
      a, .a{ &, &:hover, &:focus, &:active{
        color: $link-color;
      }}

    }
  }
}