.navigation__item_state {
  &_active{
    >a{
      color: $gray-base;
      background-color: #f3f3f3;
      @media (min-width: $screen-md-min) {
        color: $brand-danger;
        background: none;
      }
    }
  }
}