.brick-content__flex {
  @import "../variables.scss";

  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: flex-start;
  align-content: flex-start;

  margin: 0 (-$grid-gutter-width/2);
  >*:first-child{
    .img-responsive{
      margin-bottom: $grid-gutter-width;
      @media (min-width: $screen-md-min) {
        margin: -$brick-content-padding-vertical-base;
      }
    }
  }
  >*:last-child{
    .img-responsive{
      margin: -$brick-content-padding-vertical-base;
      margin-top: $grid-gutter-width;
      @media (min-width: $screen-md-min) {
        margin-top: -$brick-content-padding-vertical-base;
      }
    }
  }

}