.search__input{
  font-size: $font-size-small;
  display: block;
  width: 100%;
  border-radius: 20px;
  border: 1px solid $gray-light;
  box-shadow: inset 0px 0px 8px $gray-light;
  color: $gray-base;
  padding: 6px 40px 6px 13px;
  height: 30px;
  line-height: 18px;
  &:focus{
    outline: none;
    box-shadow: inset 0px 0px 2px $gray-light;
    transition: 0.5s ease;
  }
}