.navigation__collapse {
  position: relative;
  overflow-x: visible;
  padding-right: 0;
  padding-left:  0;
  margin-left: $grid-gutter-width/-2;
  margin-right: $grid-gutter-width/-2;
  background-color: #ffffff;
  @include clearfix;
  -webkit-overflow-scrolling: touch;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4), 0px 10px 10px rgba(0, 0, 0, 0.2);
  }


  &.in {
    overflow-y: visible;
  }

  @media (min-width: $screen-md-min) {
    width: auto;
    border-top: 0;
    box-shadow: none;
    margin: 0;
    background: none;

    &.collapse {
      display: block !important;
      height: auto !important;
      padding-bottom: 0; // Override default setting
      overflow: visible !important;
    }

    &.in {
      overflow-y: visible;
    }

  }

}