/*csslint adjoining-classes:false */
@import "../../../bower_components/font-awesome/css/font-awesome.min.css";
/*csslint adjoining-classes:true */

.fa {
    font-family: FontAwesome;
    visibility: visible;
}
