.directions-sections__item {
  @include font-size(22px, $font-size-base);
  line-height: 1.2;
  text-align: center;
  margin: $s 0 $l;
  display: block;
  text-decoration: none !important;
  color: inherit;
  transition: color 0.35s ease;
  max-width: 185px;
  width: 50%;
  &.active{
    color: $brand-danger;
  }
  @media (min-width: $screen-sm-min) {
    width: 20%;
    max-width: none;
  }
}