.navigation__icon {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: $brand-danger;
  + .navigation__icon {
    margin-top: 6px;
    width: 16px;
    + .navigation__icon {
      width: 8px;
    }
  }
}