.directions-sections__icon {
  svg,
  .svg{
    width: 100%;
    height: 100%;
    display: block;
    max-height: 100px;
    .directions-sections__item.active &,
    .directions-sections__item:hover &{
      [style*='stroke'],
      [style*='stroke']{
        stroke: #e5001a !important;
        transition: stroke 0.35s ease;
      }
    }
  }
}