.navigation__helper {
  display: none;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    position: absolute;
    bottom: 100%;
    background-color: #ffffff;
    height: 500px;
    width: 53%;
    left: 0;
    box-shadow: 0px -5px 5px rgba(0, 0, 0, 0.6);
  }
}

.in,
.collapsing{
   + .navigation__helper{
    @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
      display: block;
    }
  }
}