.directions-items {
  font-size: $font-size-small;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 0px;
  background-color: $brand-danger;
  background: linear-gradient(to bottom, #c41000 0%,$brand-danger 100%);
  box-shadow: inset 0px 20px 20px rgba(0, 0, 0, 0.08),
  0px 10px 12px rgba(0, 0, 0, 0.15),
  0px -1px 1px rgba(0, 0, 0, 0.15);
}