.phone-list__number{
  font-size: $font-size-large; // 18px
  font-weight: 700;
  color: $brand-danger;
  display: inline-block;
  @media (min-width: $screen-md-min) {
    font-size: 131%;  // 21px

  }
}