.directions-items__item {
  display: inline-block;
  text-align: center;
  padding: 0 $grid-gutter-width/2;
  text-decoration: underline;
  color: #ffffff;
  &:hover, &:active, &:focus, &.active{
    color: #ffffff;
    text-decoration: none;
  }
}