.header__logo {
  z-index: 100;
  padding-bottom: 20px;
  text-align: center;
  white-space: nowrap;

  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-md-column(4);


  @media (min-width: $screen-sm-min){
    padding-bottom: 0;
    text-align: left;
  }

  @media (min-width: $screen-lg-min) {
    float: left;
    width: percentage((30 / 100));
  }
}