.brick-content__icon {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  justify-content: space-between;
  *:first-child{
    flex-shrink: 0;
    max-width: 100%;
  }
  .fa, .icon{
    position: absolute;
    top: 0;
    right: 100%;
    width: $headings-line-height + em;
    height: $headings-line-height + em;
    line-height: $headings-line-height + em;
    margin-right: $grid-gutter-width;
    text-align: center;
    color: $link-color;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    &:before{
      vertical-align: middle;
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
    }
  }
}