.footer__contacts{

  position: relative;
  min-height: 1px;
  padding-left:  ($grid-gutter-width / 2);
  padding-right: ($grid-gutter-width / 2);
  width: 100%;
  @media (min-width: $screen-sm-min) {
    width: percentage((6 / 12));
  }
  @media (min-width: $screen-md-min) {
    width: percentage((4 / 12));
    flex-shrink: 0;
  }
}