.people__count {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  @include font-size(72px, 64px);
  >i{
    background-color: $brand-danger;
    display: block;
    border-radius: 50%;
    line-height: 2;
    min-width: 2em;
    height: 2em;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
  }
}