.feedback{
  display: block;
  border: none;
  background: none;
  padding: 8px 0px;
  white-space: nowrap;
  .fa{
    color: $brand-danger;
    margin-right: 8px;
  }
  &:focus{
    outline: none;
  }
}