.navigation__shadow {
  display: none;
  content: '';
  position: fixed;
  background: rgba(0, 0, 0, 0);
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: background 0.5s ease;
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block;
  }
}
.navigation__collapse{
  &.in{
    .navigation__shadow{
      background: rgba(0, 0, 0, 0.3);
    }
  }
}