ol {
  // БЕМ Запрещает использование элементов без класса: не делайте так в своем проекте))
  &.ol,
  &:not([class]){
    $list-style-color: $text-color !default;
    margin-top: 0;
    margin-bottom: $vertical-rhythm-base;
    list-style: none;
    padding-left: 0;
    counter-reset: li;
    & &{
      padding-left: 1.5em;
      margin-bottom: 0.5em;
      margin-top: 0.5em;
    }
    li{
      margin: 0.5em 0;
      &:first-child{ margin-top: 0 }
      &:last-child{ margin-top: 0 }
      &:before{
        min-width: 1em;
        margin-right: 0.5em;
        counter-increment: li;
        content: counters(li,".") ". ";
        color: $list-style-color;
      }
    }
  }
}