.review-list__img {
  width: 85px;
  min-width: 85px;
  flex-shrink: 0;
  margin: 0 auto 15px;
  @media (min-width: $screen-xs-min) {
    margin-bottom: 0;
    margin-right: 15px;
  }
  .img,
  .img-responsive{
    border-radius: 50%;
  }
}