.social__link {
  font-size: $font-size-base;
  height: $line-height-base + em;
  width: $line-height-base + em;
  line-height:  $line-height-base;
  display: block;
  border-radius: 100px;
  background-color: #808080;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  transition: background 0.2s ease;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  &:hover,
  &:focus{
    text-decoration: none;
    background-color: $brand-danger;
    color: #ffffff;
  }
}