$font-size-small: 12px !default;
$text-color: #333 !default;
$link-color: #FF0000 !default;

$sidebar-top-offset: 0px;
$bar-height: 3px !default;
$bar-bg: #cccccc !default;
$bar-progress-bg: #FF0000 !default;


.read-progress{
  position: relative;
  &_init{

  }
  &_fixed{
    .read-progress__sidebar{
      position: fixed;
      top: 0;
      bottom: 0;
    }
  }
  &_stop{
    .read-progress__sidebar{
      position: absolute;
      top: auto;
      bottom: 0;

    }
  }
  &_outer{

  }
}

.read-progress__bar{
  position: fixed;
  z-index: $zindex-modal-background;
  top: 0;
  left: 0;
  min-width: 100%;
  height: $bar-height;
  background-color: $bar-bg;
  transition: opacity 0.5s ease;
  &:before{
    content: ' ';
    transition: width 0.5s ease;
    position: relative;
    display: block;
    height: inherit;
    width: inherit;
    background-color: $bar-progress-bg;
  }

}

.read-progress__sidebar{
  pointer-events: none;
  position: absolute;
  z-index: $zindex-dropdown;
  max-width: $screen-min;
  top: $sidebar-top-offset;
  margin: 0;
  padding: 0 $grid-gutter-width/2 0;
  transition: opacity 0.5s ease;
  transform: translateX(-100%);
}

.read-progress__sidebar-inner{
  pointer-events: initial;
  min-width: 50px;
  background-color: $gray-lighter;
  border-top: 1px solid #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: $padding-small-vertical $padding-small-horizontal/2;
}

.read-progress__list{
  font-size: $font-size-small;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-set: read;
  counter-reset: read;
  line-height: 1;
  .read-progress__list{
    display: none;
    counter-reset: read;
    .read-progress__link{
      font-size: 85%;
      &:before{
        font-size: 50%;
        content: ' ';
        vertical-align: baseline;
        margin-left: 0.9em;
        margin-right: 3em;
      }
    }
  }
}
.read-progress__li{
  color: $text-color;
  counter-increment: read;
  vertical-align: middle;
  &:hover{
    max-width: $screen-min;
    background-color: $gray-lighter;
    display: inline-block;
    .read-progress__li &{
      display: block;
      box-shadow: none;
      background: none;
    }
  }
  &_active{
    color: $link-color;
    .read-progress__list{
      display: block;
    }
  }
}

.read-progress__link{
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: $padding-small-vertical $padding-small-horizontal;
  &, &:hover, &:active, &:focus{
    color: inherit;
    text-decoration: none;
  }

  &:before{
    content: counters(read, '');
    background-color: #ffffff;
    border: 1px solid;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    vertical-align: baseline;
    margin-right: 0.8em;
  }
  &:after{
    content: ' ';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $padding-small-horizontal;
    background: linear-gradient(to right, rgba(239, 243, 243, 0) 0%, rgba(239, 243, 243, 1) 100%);
    z-index: 1;
  }
}
