$bar-height: 3px !default;
$bar-bg: #cccccc !default;
$bar-progress-bg: #FF0000 !default;

.read-progress{
  position: static;
  &_init{

  }
  &_fixed{

  }
}

.read-progress__bar{
  position: fixed;
  z-index: $zindex-modal-background;
  top: 0;
  left: 0;
  min-width: 100%;
  height: $bar-height;
  background-color: $bar-bg;
  transition: opacity 0.5s ease;
  &:before{
    content: ' ';
    transition: width 0.5s ease;
    position: relative;
    display: block;
    height: inherit;
    width: inherit;
    background-color: $bar-progress-bg;
  }

}



.read-progress__sidebar{
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  position: absolute;
  z-index: 10;
  left: 0;
  width: $grid-gutter-width/2;
  height: 100%;
  padding: $grid-gutter-width/2;
  .read-progress_fixed & {
    position: fixed;
    top: 0;
  }
  .read-progress_mobile & {
    align-items: flex-end;
    padding: $grid-gutter-width/2 0;
  }
}
.read-progress__sidebar-inner{
  position: relative;
  max-width: 100%;
  .read-progress_mobile & {
    transition: transform 0.35s ease;
    transform: translateX(-100%);
  }
  .read-progress_open & {
    transform: translateX(0%) !important;
  }

  .read-progress_stop & {
    transition: opacity 0.3s ease;
    opacity: 0 !important;
    pointer-events: none !important;
  }
}



.read-progress__sidebar-inner{
  pointer-events: initial;
  min-width: 50px;
  background-color: $gray-lighter;
  border-top: 1px solid #ffffff;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  padding: $padding-small-vertical $padding-small-horizontal/2;
  .read-progress_mobile & {
    box-shadow: none;
  }
}

.read-progress__list{
  font-size: $font-size-small;
  padding: 0;
  margin: 0;
  list-style: none;
  counter-set: read;
  counter-reset: read;
  line-height: 1;
  .read-progress__list{
    display: none;
    counter-reset: read;
    .read-progress__link{
      font-size: 85%;
      &:before{
        font-size: 50%;
        content: ' ';
        vertical-align: baseline;
        margin-left: 0.9em;
        margin-right: 3em;
      }
    }
  }
}
.read-progress__li{
  color: $text-color;
  counter-increment: read;
  vertical-align: middle;
  position: relative;
  &:hover{
    max-width: $screen-min;
    background-color: $gray-lighter;
    display: inline-block;
    .read-progress__li &{
      display: block;
      box-shadow: none;
      background: none;
    }
  }
  &_active{
    color: $link-color;
    .read-progress__list{
      display: block;
    }
  }
}


.read-progress__link{
  position: relative;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  padding: $padding-small-vertical $padding-small-horizontal;
  &, &:hover, &:active, &:focus{
    color: inherit;
    text-decoration: none;
  }

  &:before{
    content: counters(read, '');
    background-color: #ffffff;
    border: 1px solid;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.3em;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    vertical-align: baseline;
    margin-right: 0.8em;
  }
  &:after{
    content: ' ';
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: $padding-small-horizontal;
    background: linear-gradient(to right, rgba(239, 243, 243, 0) 0%, rgba(239, 243, 243, 1) 100%);
    z-index: 1;
  }
}


.read-progress__control{
  position: absolute;
  left: 100%;
  bottom: 0;
  margin: 0 $grid-gutter-width/2;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  cursor: pointer;
  width: 3em;
  height: 3em;
  line-height: 3;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  display: none;
  .read-progress_mobile & {
    display: block;
  }
  .read-progress_open & {
    .fa:before{
      content: "\f00d" !important;
    }
  }
}