.work-list__title {
  display: block;
  line-height: 1.2;
//  margin-top: $m;
//  &:first-child{
//    margin-top: 0;
//    margin-bottom: $m;
//    &:last-child{
//      margin-bottom: 0;
//    }
//  }
}