.topic__item {
  padding: $grid-gutter-width/2;
  padding-top: 0;
  width: 100%;
  @media (min-width: $screen-md-min) {
    width: percentage((4 / 12));
  }

  >*:first-child{
    position: relative;
    padding-top: $grid-gutter-width/2;
    &:before{
      content: '';
      border-top: 1px solid;
      display: block;
      position: absolute;
      bottom: 100%;
      width: 100%;
      left: 0;
      right: 0;
      opacity: 0.2;
    }
  }
  &,
  &:first-child,
  &:last-child{

  }
}