.influence__action {
  order: 20;
  flex: 0 0 auto;
  min-width: $screen-min - $grid-gutter-width;
  @media (min-width: $screen-md-min) {
    min-width: 33%;
  }
  &:first-child{
    &:last-child{
      width: 100%;
    }
  }
}