.navigation-toggle__icon {
  display: block;
  width: 25px;
  height: 2px;
  border-radius: 1px;
  background-color: $brand-danger;
  @media (min-width: $screen-sm-min) {
    width: 35px;
    height: 4px;
  }
  + .navigation-toggle__icon {
    margin-top: 6px;
    transition: width 0.5s ease;
  }


}

.collapsed{
  .navigation-toggle__icon{
    + .navigation-toggle__icon {
      width: 16px;
      @media (min-width: $screen-sm-min) {
        width: 26px;
      }
      + .navigation-toggle__icon {
        width: 8px;
        @media (min-width: $screen-sm-min) {
          width: 12px;
        }
      }
    }
  }
}