.people__item {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;

  @media (min-width: $screen-md-min) {
    width: percentage((4 / 12));
  }
  &,
  &:first-child,
  &:last-child{
    margin: $l 0;
  }
}